# Archivos sensibles sin cifrar
secrets.json
*recuperado*
*.bak
*.backup
*.old

# Backups temporales de sistema
passwd.bak*
*.save
*.swp
*.swo

# Entornos y cachés
__pycache__/
*.pyc
.env
venv/
.env.*

# Logs temporales no necesarios
*.tmp

# Sistema/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# GPG privado: nunca subir claves privadas
.gnupg/
private-keys-v1.d/
*.key
*.sec
